.header
{
    margin-left: 45%;
	display: block;
}

.page-body
{
	display: flex;
}

.dest-input
{
	margin-left: 2em;
	display: block;
	width: 30%;
	border: 1px black solid;
}

.input-address
{
	display: block;
	margin-bottom: 0.5em;
	border: 1px black solid;
}

.map-route
{
	border: 1px black solid;
	width: 70%;
	height: 50em;
}