html{
	height: 100%;
	margin:0; 
  	padding:0; 
  	overflow-x: hidden; 
}
body{
	background-image: url("../images/Big_Dipper.jpg");
	background-size: cover;
	background-repeat:no-repeat;
    background-position: center center;  
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 

}
.page-header {
	/*	height: 70px;*/
	background-color: #1E5B8C !important;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	border-bottom: none;
	margin: 0px 0 10px 0;
}
.page-header h1{
	text-align: center;
	color: #ffffff; 
	font-family: 'Raleway',sans-serif; 
	font-size: 62px; 
	font-weight: 800; 
	line-height: 72px; 
	text-align: center; 
	text-transform: uppercase; 
	margin: 0px 0px 0px 350px;
	display: inline-block;
	text-shadow: 1px 1px;
}
p{
	font-size: 12px;
}

.form-group{
	color: #f8f8f8; 
	font-family: 'Raleway',sans-serif; 
	font-size: 18px; 
	font-weight: 500; 
	line-height: 32px; 
	margin: 0 0 0 0;
}

.description{
	color: #ffffff; 
	font-family: 'Raleway',sans-serif; 
	font-size: 18px; 
	font-weight: 800; 
	line-height: 36px; 
	margin: 0 0 5px; 
	text-align: center;
}
.row{
	height: 100%;
}
.col-xs-4{
	width: 34%;
}
.col-xs-8{
	height: 100%;
	width: 65%
}
div#googleMap{

	width:100%;
	height: 100%;
	margin: 20px 0px 0px 0px;
	padding:0;
	position:relative;

}

.checkInfo {
	color: yellow;
	font-size: 20px;
	vertical-align: middle;
	margin-top: 12px;
}

#myCheck{
	width: 25px;
    height: 25px;
}

#directions-panel{
	color: purple; 
	font-family: 'Raleway',sans-serif; 
	font-size: 30px; 
	font-weight: 800; 
	line-height: 36px; 
	margin: 10px 15px;
	text-align: center;
	background-color: #FFEE77;
	height: 350px;
	overflow: auto;
}
img{
	border-radius: 8px;
	display: inline-block;
	margin: 10px 0px 0px 150px;
	height: 100px;
	vertical-align: top;
}

#directions {
    display: inline-block;
    margin: 5px;
}

.direction-detail {
    text-align: left;
    color: black;
    font-size: 16px !important;
    line-height: 16px;
    font-weight: 600;
    margin: 12px 0 12px 6px;
}

.direction-warning {
    text-align: center;
    color: green;
    font-size: 16px !important;
    line-height: 16px;
    font-weight: 600;
}
.btn-default{
	margin: 10px 0 0 10px;		
}

#forms{
	margin: 0 15px;
}
.btn{
	margin: 0 0 0 80px;
}

#myajax{
	margin: 14px 0 10px 0;
}

h3{
	margin: 5px 0 0 0 ;
	font-size: 20px;
	text-align: left;
}